USE [master]
GO
/****** Object:  Database [QSLV_LHP]    Script Date: 23/12/2019 7:21:28 AM ******/
CREATE DATABASE [QSLV_LHP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QSLV_LHP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QSLV_LHP.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QSLV_LHP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QSLV_LHP_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QSLV_LHP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QSLV_LHP]
GO
/****** Object:  Table [dbo].[DanhSachMonHoc]    Script Date: 23/12/2019 7:21:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachMonHoc](
	[TenMonHoc] [nvarchar](50) NULL,
	[MaMonHoc] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DanhSachMonHoc] PRIMARY KEY CLUSTERED 
(
	[MaMonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LopHocPhan]    Script Date: 23/12/2019 7:21:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHocPhan](
	[TenLopHocPhan] [nvarchar](50) NULL,
	[MaLopHocPhan] [nvarchar](50) NOT NULL,
	[GiaoVienPhuTrach] [nvarchar](50) NULL,
	[SoLuongSinhVienDangKy] [int] NULL,
	[DinhMucSinhVien] [int] NULL,
	[MaMonHoc] [nvarchar](50) NULL,
 CONSTRAINT [PK_LopHocPhan] PRIMARY KEY CLUSTERED 
(
	[MaLopHocPhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 23/12/2019 7:21:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSinhVien] [nvarchar](50) NOT NULL,
	[HoDem] [nvarchar](50) NULL,
	[Ten] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[QueQuan] [nvarchar](50) NULL,
	[MaLopHocPhan] [nvarchar](50) NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MaSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[DanhSachMonHoc] ([TenMonHoc], [MaMonHoc]) VALUES (N'Hoc', N'hoa1')
INSERT [dbo].[DanhSachMonHoc] ([TenMonHoc], [MaMonHoc]) VALUES (N'Toan', N'toan1')
INSERT [dbo].[DanhSachMonHoc] ([TenMonHoc], [MaMonHoc]) VALUES (N'Van', N'van1')
INSERT [dbo].[LopHocPhan] ([TenLopHocPhan], [MaLopHocPhan], [GiaoVienPhuTrach], [SoLuongSinhVienDangKy], [DinhMucSinhVien], [MaMonHoc]) VALUES (N'Hoc', N'001', N'Phutrannnnnnnn', 22333333, 223333333, N'hoa1')
INSERT [dbo].[LopHocPhan] ([TenLopHocPhan], [MaLopHocPhan], [GiaoVienPhuTrach], [SoLuongSinhVienDangKy], [DinhMucSinhVien], [MaMonHoc]) VALUES (N'Toan', N'002', N'Lien', 222, 222, N'toan1')
INSERT [dbo].[LopHocPhan] ([TenLopHocPhan], [MaLopHocPhan], [GiaoVienPhuTrach], [SoLuongSinhVienDangKy], [DinhMucSinhVien], [MaMonHoc]) VALUES (N'Van', N'003', N'MINH', 3232, 221, N'van1')
INSERT [dbo].[SinhVien] ([MaSinhVien], [HoDem], [Ten], [NgaySinh], [QueQuan], [MaLopHocPhan]) VALUES (N'16T1021127', N'ooooo', N'ssss', CAST(N'1998-09-09' AS Date), N'Huewwwwwww', N'001')
INSERT [dbo].[SinhVien] ([MaSinhVien], [HoDem], [Ten], [NgaySinh], [QueQuan], [MaLopHocPhan]) VALUES (N'16T102112722', N'phutran', N'ssss22', CAST(N'1998-09-09' AS Date), N'ssss22', N'002')
INSERT [dbo].[SinhVien] ([MaSinhVien], [HoDem], [Ten], [NgaySinh], [QueQuan], [MaLopHocPhan]) VALUES (N'Phudeptrai1', N'dep1', N'trai1', CAST(N'2003-10-09' AS Date), N'trai1', N'001')
USE [master]
GO
